body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f1e38;
}

.jumbotron {
    background-image: url(../images/train.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 40%;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

h1 {
    color: white;
    font-size: 40px;
    display: flex;
    text-shadow: 0 0 20px #FF0000;
}

h3 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#trainTable {
    background-color: darkgrey;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#user-input {
    background-color: lightblue;
    border: 2px solid black;
    /* border-radius: 5px; */
    padding: 10px;
    
}